
{{#if errors}}
    {{#each errors}}

        <div class="alert alert-danger">

            {{message}}

        </div>

    {{/each}}

{{/if}}


{{#if error_message}}

    <div class="alert alert-danger">

        {{error_message}}

    </div>


{{/if}}




{{#if success_message}}

    <div class="alert alert-success">

        {{success_message}}

    </div>


{{/if}}

